<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center><%=image_tag 'apoyar.png'%><br><br>
    <h2>
    You have reset your password for timesheet.apoyar.eu<br><br>
    </h2>
    <h3>
    Your handle is: <b><%=@user.handle%></b><br><br>
    Your new password is: <b><%=@password%></b><br><br>
    </h3>
    <p>
    Please make sure to change your password once you log-in
    </p>
    </center>
  </body>
</html>